.banner {
  width: 100%;
  height: 10vh;
  border-style: solid;
  border-color: white;
  text-indent: 3px;
}

.navbar {
  font-size: 20px;
  width: 85%;
  margin: auto;
  padding: -50px -5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 20px;
  position: relative;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #f72121;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.75s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.mergeimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* justify-items: center; */
  /* align-items: center; */
  height: 450px;
  width: 450px;
}

.para {
  color: aliceblue;
  /* text-align: left 400px; */
  /* text-align: justify; */
  vertical-align: text-top;
}